* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

main {
  height: 100%;
  display: grid;
  place-items: center;
}

.card {
  height: 300px;
  width: 500px;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 30px;
  border: 1px solid white;
  box-shadow: 0 10px 15px rgba(255, 255, 255, 0.15);
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card a {
  width: fit-content;
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  background-color: white;
  margin-top: 10px;
  font-size: 8px;
  border-radius: 20px;
}

.card a:nth-of-type(5) {
  font-size: 16px;
  background-color: lightgreen;
  color: darkgreen;
  border: 1px solid green;
}
