* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: black;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  padding: 30px 30px 0 30px;
  background-color: #cdd1ff;
}

main {
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #eeefff;
  border-radius: 15px 15px 0 0;
}

.menu {
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: aliceblue;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  z-index: 1;
}

.ri-menu-line {
  font-size: 18px;
  color: gray;
}

section {
  width: 100%;
  margin-top: 50px;
}

.serch_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 20px;
}

.search {
  padding: 5px 20px 5px 20px;
  background-color: white;
  border-radius: 50px;
}

.search input {
  margin: 5px;
  height: 24px;
  border: none;
}

.search input:focus {
  outline: none;
}

.filter_sec {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.filter_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.filter_type p {
  font-size: small;
}

.ri-arrow-drop-down-line {
  font-size: 20px;
}

.sort {
  height: 45px;
  width: 45px;
  padding: 15px 15px 0px 12px;
  background-color: white;
  border-radius: 40%;
}

.sort img {
  height: 18px;
  width: 18px;
}

.pokemon_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  width: 90%;
}
/* 
section h2 {
  margin-top: 20px;
} */

.pokemons {
  display: flex;
  padding-top: 30px;
  /* align-items: center; */
  justify-content: center;

  height: 400px;
  width: 300px;

  background-color: white;
  border-radius: 20px;
  border-bottom: 5px solid var(--border-color);
}

.image {
  height: 60%;
  width: 70%;
  border-radius: 50%;
  background-color: var(--bg-color);
}

h2 {
  margin-top: 20px;
}

.image img {
  height: 100%;
  width: 100%;
}

.arrow {
  /* /* width: 35px; */
  height: 40px;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 100%;
}

.c_bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c_bottom span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  background-color: var(--bg-color);
  border-radius: 20px;
}

.c_icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* background-color: bisque; */
  margin: 30px;
  padding: 10px;
}

.f_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 90px;
  width: 250px;
  padding: 5px 15px 5px 15px;
  border-radius: 10%;
  background-color: white;
}

.copyright {
  font-size: 13px;
  color: rgb(69, 69, 69);
}

.flower {
  position: absolute;
  height: 150px;
  width: 110px;
  background-image: url("./image/flover-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150%;
  opacity: 0.4;
  bottom: 0;
  left: 0;
}

.corner {
  position: absolute;
  background-image: url("./image/corner-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  top: 0px;
  right: 2px;
  width: 220px;
  opacity: 0.1;
}
